<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>{{ title or metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { background-color: #000; color: #b0b0b0; font-family: "Times New Roman", serif; line-height: 1.1; text-align: left; }
        
        @media (min-width: 769px) { body { padding: 25px; max-width: 650px; } h2 { font-size: 2.2rem; } }
        @media (max-width: 768px) { body { padding: 10px; width: 100%; } h2 { font-size: 28px; } }

        article { margin-bottom: 70px; }
        h2 { color: #fff; font-weight: normal; margin-bottom: 12px; line-height: 0.95; }
        img { width: 100%; height: auto; display: block; margin-bottom: 10px; pointer-events: none; }
        
        .caption { font-size: 1.1rem; margin-bottom: 5px; }
        a { color: inherit; text-decoration: underline; }

        .music-player {
    border: 1px solid #333;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    margin-bottom: 15px;
}
.music-cover {
    width: 60px !important;
    height: 60px !important;
    margin-bottom: 0 !important;
}
.music-info {
    flex-grow: 1;
}
.music-title {
    color: #fff;
    display: block;
    font-size: 1rem;
}
.music-artist {
    font-size: 0.8rem;
    color: #888;
}
.music-controls {
    font-family: monospace;
    font-size: 1.2rem;
    cursor: pointer;
}
    </style>
</head>
<body>
    <main>
        {{ content | safe }}
    </main>
</body>
</html>
